<h1>Left Layout (left menu)</h1>
<div class="left-layout">
  <Menu />
  <div class="content">
    <div class="content__label">content</div>
    <div class="content__inner">
      {{yield}}
    </div>
  </div>
</div>
