<div class="menu">
  <div class="menu__label">menu</div>
  <ul class="menu__list">
    <li class="menu__list-item"><LinkTo @route="index">Index</LinkTo></li>
    <li class="menu__list-item"><LinkTo @route="first">First</LinkTo></li>
    <li class="menu__list-item"><LinkTo @route="second">Second</LinkTo></li>
  </ul>
</div>
